# Numbers

In [1]:
a = 10

In [2]:
b =20

In [3]:
a + b

30

In [4]:
type(a)

int

In [5]:
c = 45.6

In [6]:
d = 78.9

In [7]:
c+d

124.5

In [8]:
type(c+d)

float

In [9]:
type(a+d)

float

# Arithmetic Operations

In [10]:
a+ b

30

In [11]:
a -b

-10

In [12]:
a*b

200

In [13]:
a/b

0.5

In [14]:
a%b

10

In [15]:
a//b

0

In [16]:
b//a

2

In [17]:
abs(-9)

9

In [18]:
abs(9)

9

# Strings

In [19]:
some_string = "ITM FCS "

In [20]:
some_string[0]

'I'

In [21]:
some_string[3:]

' FCS '

In [22]:
some_string[1:3]

'TM'

In [23]:
some_string[-1]

' '

In [24]:
some_string[:2]

'IT'

In [25]:
some_string[::-1]

' SCF MTI'

In [26]:
some_string[::2]

'IMFS'

# WAP with string slicing and dicing, in which the string, The quick brown fox jumps over the lazy dog is printed from 5 letter to last fourth letter with every 3rd consecative letter

In [28]:
# COncatenate

In [29]:
s = " Hello Everyone"

In [30]:
s = s + "how are you al "

In [31]:
s

' Hello Everyonehow are you al '

In [32]:
s.isupper()

False

In [37]:
s.index('h')

15

In [41]:
help(s.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [43]:
s.strip("l")

' Hello Everyonehow are you al '

In [44]:
s.encode()

b' Hello Everyonehow are you al '

In [45]:
encodeed_str = s.encode()

In [46]:
type(encodeed_str)

bytes

In [50]:
new_str = encodeed_str.decode()

In [51]:
type(new_str)

str

# Lists

- Creating list
- Indexing and scling of the list 
- Basic List Methods 
- Nesting of the list

In [3]:
# A list is defined in this manner 

my_List = [1,2,3,4,5,6,7]

In [6]:
my_wierd_list = ["Hey How are you ", 1 ," AM ", 5, "EN", 12.3,[1,2,3], {"KEY":"VALUE"}]

In [8]:
my_wierd_list[0]

'Hey How are you '

In [9]:
my_wierd_list[-1]

{'KEY': 'VALUE'}

In [10]:
my_wierd_list[-2]

[1, 2, 3]

In [11]:
len(my_wierd_list)

8

# Sliicing of the list

In [12]:
my_list = ['one','two','three','four']

In [13]:
my_list[0]

'one'

In [21]:
my_list[1::]

['two', 'three', 'four']

In [27]:
my_list[:3]

[1, 2, 3]

In [31]:
my_list = my_list  + [1,2,3,4,5] #adding new elements to the list

In [32]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

In [33]:
my_list = [1,2,3,4,5,6,7,8,9] # Ressignment of the list

In [25]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
my_list *2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# basic methods in List

In [34]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
my_list.append('a')

In [36]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a']

In [37]:
my_list.clear()

In [38]:
my_list

[]

In [39]:
my_list = [1,2,3,4,5,6,7,8]

In [40]:
my_list.count(4)

1

In [41]:
my_list.insert(1,'v')

In [45]:
my_list

['v', 2, 3, 4, 5, 6, 7, 8]

In [47]:
my_list.remove("v")

In [48]:
my_list

[2, 3, 4, 5, 6, 7, 8]

In [53]:
print(my_list.reverse())

None

In [52]:
my_list

[8, 7, 6, 5, 4, 3, 2]

In [54]:
my_list.sort()

In [55]:
my_list

[2, 3, 4, 5, 6, 7, 8]

In [56]:
my_list.append("sai")

In [58]:
my_list.reverse()

In [59]:
my_list

['sai', 8, 7, 6, 5, 4, 3, 2]

In [62]:
my_list.insert(2,'sai')

In [64]:
my_list

['sai', 8, 'sai', 7, 6, 5, 4, 3, 2]

# Dcitonaries

In [65]:
my_dict = {'key1':'value1','key2':'value2'}

In [67]:
my_dict['key2'] # Calling the particular key's value

'value2'

In [72]:
my_dict = {'key1':'value1','key2':206, 
           'key3':[1,2,3,4,], 'key4':{'inside_key1':1}}

In [73]:
my_dict['key3']

[1, 2, 3, 4]

In [74]:
my_dict['key3'][2]

3

In [76]:
my_dict['key4']['inside_key1']

1

In [77]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [78]:
my_dict.values()

dict_values(['value1', 206, [1, 2, 3, 4], {'inside_key1': 1}])

In [80]:
my_dict.get('key4')

{'inside_key1': 1}

In [81]:
my_dict.pop('key3')

[1, 2, 3, 4]

In [87]:
my_dict.fromkeys('key2')

{'k': None, 'e': None, 'y': None, '2': None}

In [91]:
help(my_dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [92]:
my_dict

{'key1': 'value1', 'key2': 206, 'key4': {'inside_key1': 1}}

In [95]:
keys = {'a','b','c','d'}

value = ['fcs',1,2,3]

my_new_dict = dict.fromkeys(keys,value)
print(my_new_dict)

{'a': ['fcs', 1, 2, 3], 'd': ['fcs', 1, 2, 3], 'b': ['fcs', 1, 2, 3], 'c': ['fcs', 1, 2, 3]}

In [99]:
keys = {'a'}

value = 'fcs'

my_new_dict = dict.fromkeys(keys,value)
print(my_new_dict)

{'a': 'fcs'}

# Tuples

In [100]:
tup  = (1,2,3,4,5,6,7,8)

In [101]:
tup.count(1)

1

In [102]:
tup.index(5)

4

# set & booleans

In [103]:
x = set()

In [104]:
x.add(1)

In [105]:
x

{1}

In [106]:
x.add(2)

In [109]:
x

{1, 2, 4}

In [108]:
x.add(4)

In [111]:
x.issubset({1,2,3,4})

True

# Bool

In [113]:
True.

True

In [114]:
False

False

In [115]:
pwd

'/Users/nvrsettle/ITMFCSP3'