# Number

In [1]:
12

12

In [2]:
any_number = 45

In [3]:
my_num = 56

In [4]:
any_number + my_num

101

In [5]:
any_number - my_num

-11

In [6]:
any_number * my_num

2520

In [7]:
my_num / any_number

1.2444444444444445

In [8]:
type(any_number)

int

In [9]:
my_float_num = 12.45

In [10]:
type(my_float_num)

float

In [11]:
my_float_an_num = 12.78

In [12]:
my_float_num * my_float_an_num

159.111

# Strings

In [13]:
my_str = "hi Friends, How are you All ?"

In [14]:
my_str

'Hi Friends, How are you All ?'

In [15]:
my_str[0]

'H'

In [35]:
my_str[::-1]

'? llA uoy era woH ,sdneirF iH'

In [37]:
#String Slicing & Addressing

_initalAddress_  = 0
_EndingAddress_ = -1
_increment_ = 1

my_str[_initalAddress_:_EndingAddress_:_increment_]

'Hi Friends, How are you All '

In [40]:
cipher = "HXA IAB     FZC CVN SAI"

In [41]:
cipher[0::4]

'HI FCS'

In [44]:
my_str = "hi Friends, How are you All ?"
my_str

'hi Friends, How are you All ?'

In [47]:
my_str = my_str.capitalize()

In [48]:
my_str.

'Hi friends, how are you all ?'

In [50]:
help(my_str.isspace)

Help on built-in function isspace:

isspace() method of builtins.str instance
    Return True if the string is a whitespace string, False otherwise.

    A string is whitespace if all characters in the string are whitespace and there
    is at least one character in the string.

In [53]:
ny_str = "      "

In [54]:
ny_str.isspace()

True

In [59]:
my_num = "23.3"

In [61]:
my_num.islower()

False

In [62]:
my_str

'Hi friends, how are you all ?'

In [64]:
my_str.partition('i')

('H', 'i', ' friends, how are you all ?')

In [65]:
my_str.split('i')

['H', ' fr', 'ends, how are you all ?']

In [77]:
my_str = "Hi Friends, How Are You All ?"

In [74]:
my_str.strip('')

'  Hi friends, how are you all ?'

In [78]:
my_str.istitle()

True

In [79]:
my_str.swapcase()

'hI fRIENDS, hOW aRE yOU aLL ?'

In [80]:
my_str

'Hi Friends, How Are You All ?'

In [81]:
type(my_str)

str

In [82]:
my_en_str = my_str.encode()

In [83]:
type(my_en_str)

bytes

In [84]:
my_en_str

b'Hi Friends, How Are You All ?'

In [85]:
my_de_str = my_en_str.decode()

In [86]:
type(my_de_str)

str

In [87]:
my_de_str

'Hi Friends, How Are You All ?'

In [88]:
len(my_str)

29

In [91]:
help(my_str.translate)

Help on built-in function translate:

translate(table, /) method of builtins.str instance
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

# Lists

In [92]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [93]:
len(my_list)

10

In [94]:
my_list[0]

1

In [96]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dicts

In [115]:
my_dicts = {"key1":"value1","key2":23,"key3":56.7,
            "key4":[1,25,3,[8,9]]}

In [119]:
my_dicts.get("key4")[3][1]

9

In [117]:
my_dicts['key4'][3][1]

9

In [124]:
my_dicts.fromkeys("key",67)

{'k': 67, 'e': 67, 'y': 67}

In [127]:
my_list = ["key1","key2","key3"]

In [130]:
my_Vlist = 45

In [131]:
my_dicts.fromkeys(my_list,my_Vlist)

{'key1': 45, 'key2': 45, 'key3': 45}

In [132]:
my_dicts

{'key1': 'value1', 'key2': 23, 'key3': 56.7, 'key4': [1, 25, 3, [8, 9]]}

In [133]:
my_dicts1.update(my_dicts)

NameError: name 'my_dicts1' is not defined

In [ ]:
my_dicts